In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Datasets/Iris/Iris.csv')
data

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [3]:
#SepalLengthCm: This column represents the length of the sepal (a part of the flower) measured in centimeters.
#SepalWidthCm: This column represents the width of the sepal measured in centimeters.
#PetalLengthCm: This column represents the length of the petal (another part of the flower) measured in centimeters.
#PetalWidthCm: This column represents the width of the petal measured in centimeters.
#Species: This column represents the species of the iris flower. In the Iris dataset, there are three species: Setosa, Versicolor, 
#and Virginica. This column serves as the target variable or class label for classification tasks, 
#where the goal is to predict the species of an iris flower based on its measurements.

In [4]:
data.columns = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']
data.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            4.9           3.0            1.4           0.2  Iris-setosa
1            4.7           3.2            1.3           0.2  Iris-setosa
2            4.6           3.1            1.5           0.2  Iris-setosa
3            5.0           3.6            1.4           0.2  Iris-setosa
4            5.4           3.9            1.7           0.4  Iris-setosa

In [5]:
data.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  149 non-null    float64
 1   SepalWidthCm   149 non-null    float64
 2   PetalLengthCm  149 non-null    float64
 3   PetalWidthCm   149 non-null    float64
 4   Species        149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [7]:
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     149.000000    149.000000     149.000000    149.000000
mean        5.848322      3.051007       3.774497      1.205369
std         0.828594      0.433499       1.759651      0.761292
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.400000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

# Species Subsets

In [8]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
data_iris_setosa = data[data['Species']=='Iris-setosa']
data_iris_setosa.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            4.9           3.0            1.4           0.2  Iris-setosa
1            4.7           3.2            1.3           0.2  Iris-setosa
2            4.6           3.1            1.5           0.2  Iris-setosa
3            5.0           3.6            1.4           0.2  Iris-setosa
4            5.4           3.9            1.7           0.4  Iris-setosa

In [10]:
data_iris_versicolor = data[data['Species']=='Iris-versicolor']
data_iris_versicolor.head(5)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
49            7.0           3.2            4.7           1.4  Iris-versicolor
50            6.4           3.2            4.5           1.5  Iris-versicolor
51            6.9           3.1            4.9           1.5  Iris-versicolor
52            5.5           2.3            4.0           1.3  Iris-versicolor
53            6.5           2.8            4.6           1.5  Iris-versicolor

In [11]:
data_iris_virginica = data[data['Species']=='Iris-virginica']
data_iris_virginica.head(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
99             6.3           3.3            6.0           2.5  Iris-virginica
100            5.8           2.7            5.1           1.9  Iris-virginica
101            7.1           3.0            5.9           2.1  Iris-virginica
102            6.3           2.9            5.6           1.8  Iris-virginica
103            6.5           3.0            5.8           2.2  Iris-virginica

# Merge two subsets

In [12]:
data_iris_versicolor_virginica = pd.concat([data_iris_versicolor,data_iris_virginica])
data_iris_versicolor_virginica

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
49             7.0           3.2            4.7           1.4  Iris-versicolor
50             6.4           3.2            4.5           1.5  Iris-versicolor
51             6.9           3.1            4.9           1.5  Iris-versicolor
52             5.5           2.3            4.0           1.3  Iris-versicolor
53             6.5           2.8            4.6           1.5  Iris-versicolor
..             ...           ...            ...           ...              ...
144            6.7           3.0            5.2           2.3   Iris-virginica
145            6.3           2.5            5.0           1.9   Iris-virginica
146            6.5           3.0            5.2           2.0   Iris-virginica
147            6.2           3.4            5.4           2.3   Iris-virginica
148            5.9           3.0            5.1           1.8   Iris-virginica

[100 rows x 5 columns]

# Sort Data on Petal Length

In [13]:
data_petal_length = data.sort_values(by='PetalLengthCm',ascending=False)
data_petal_length

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
117            7.7           2.6            6.9           2.3  Iris-virginica
121            7.7           2.8            6.7           2.0  Iris-virginica
116            7.7           3.8            6.7           2.2  Iris-virginica
104            7.6           3.0            6.6           2.1  Iris-virginica
130            7.9           3.8            6.4           2.0  Iris-virginica
..             ...           ...            ...           ...             ...
1              4.7           3.2            1.3           0.2     Iris-setosa
13             5.8           4.0            1.2           0.2     Iris-setosa
34             5.0           3.2            1.2           0.2     Iris-setosa
12             4.3           3.0            1.1           0.1     Iris-setosa
21             4.6           3.6            1.0           0.2     Iris-setosa

[149 rows x 5 columns]

# Data Transpose

In [14]:
data_transpose = data.transpose()
data_transpose

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
SepalLengthCm,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,5.4,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthCm,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,3.7,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthCm,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthCm,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,0.2,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

# Data Melting

In [15]:
data.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            4.9           3.0            1.4           0.2  Iris-setosa
1            4.7           3.2            1.3           0.2  Iris-setosa
2            4.6           3.1            1.5           0.2  Iris-setosa
3            5.0           3.6            1.4           0.2  Iris-setosa
4            5.4           3.9            1.7           0.4  Iris-setosa

In [16]:
melted_data = pd.melt(data,id_vars=['Species','SepalLengthCm','PetalLengthCm'],var_name='Sepal Width',value_name='in Cm')
melted_data

            Species  SepalLengthCm  PetalLengthCm   Sepal Width  in Cm
0       Iris-setosa            4.9            1.4  SepalWidthCm    3.0
1       Iris-setosa            4.7            1.3  SepalWidthCm    3.2
2       Iris-setosa            4.6            1.5  SepalWidthCm    3.1
3       Iris-setosa            5.0            1.4  SepalWidthCm    3.6
4       Iris-setosa            5.4            1.7  SepalWidthCm    3.9
..              ...            ...            ...           ...    ...
293  Iris-virginica            6.7            5.2  PetalWidthCm    2.3
294  Iris-virginica            6.3            5.0  PetalWidthCm    1.9
295  Iris-virginica            6.5            5.2  PetalWidthCm    2.0
296  Iris-virginica            6.2            5.4  PetalWidthCm    2.3
297  Iris-virginica            5.9            5.1  PetalWidthCm    1.8

[298 rows x 5 columns]

# Cast data to wide format

In [17]:
casted_data = pd.pivot_table(data,index='Species')
casted_data

                 PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm
Species
Iris-setosa           1.465306      0.244898       5.004082      3.416327
Iris-versicolor       4.260000      1.326000       5.936000      2.770000
Iris-virginica        5.552000      2.026000       6.588000      2.974000